body {
    font-family: Roboto,sans-serif;
    color: #212529;
    background-color: rgb(241, 245, 248);

}

.font {
    font-family: "Poppins", sans-serif;
}

.svg-icon {
    height: 1.3em;
    margin-top: -4px;
    pointer-events: none;
    vertical-align: middle;
    width: 1.3em;
    margin-bottom: -3px;
    color: #6c757d;
}